body {
    background: #FDFFFC;
    padding: 0 15%;
}

h1 {
    color: #235789;
    text-align: center;
    font-size: 80px;
}

h3 {
    color: #C1292E;
    font-size: 40px;
}

p {
    color: #020100;
    font-size: 20px;
}